.image__grid {
  width: 100vw;
  background: var(--header-background);
  padding: 7rem 10rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.image__grid .wide {
  grid-column: span 2;
  width: 100%;
}

.image__grid .normal {
  width: 100%;
}

.image__grid img {
  display: block;
  width: 100%;
  height: auto;
}
